*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
}

.bg-light{
    background-color: gray;
}

#content-header>h2{
    margin-top: 1em;
}

.row{
    padding: 1em;
}

.row > div{
    margin-top: 1em;
    padding: 1em;
}

.row > div > section{
    background-color: gray;
    border: 0;
}

.items-menu h3{
    padding-top: 0.5em;
}

.items-menu article{
    padding: 1.2em;
}

@media (min-width:576px){
    #nav-list{
        width: 0%;
    }
}
